Flask
Werkzeug==2.3.7
flask-login
numpy
earthengine-api
simplejson
opencv-python
pandas
seaborn
Flask-SQLAlchemy
PyJWT
requests
cryptography
pymysql
firebase-admin
gunicorn
meteostat
google-cloud-storage
staticmap